{{ partial "header.html" . }}
    
<div class="index-container">
        
    
    <section class="index-sidebar">
        
        <h1 class="site-title">{{ .Site.Title }}</h1>
        <p>The ramblings and mind of...</p>

        <nav class="index-nav">
            <a href="/" title="Home">Home</a>
            <a href="/posts/" title="All articles">All articles</a>
            <a href="/about.html" title="About">About</a>
        </nav>

    </section>


    <section class="index-main">

        <h1 class="site-section-title">Latest posts</h1>

        <div class="post-list">
            {{ range first 3 .Data.Pages }}
            {{ if eq .Type "post"}}
              <div class="post-item">
                <a href="{{ .Permalink }}">
                    <!-- <img src="{{ .Params.image }}" alt="{{ .Title }}" class="proc-img card-item-image" /> -->
                    <h3 class="post-item-title">{{ .Title }}</h3>
                </a>
                <div class="post-item-summary">{{ .Summary }}</div>
                <div class="post-item-details">{{ .Date.Format "2 Jan, 2006" }} &mdash; {{ .ReadingTime }} minutes</div>
              </div>
            {{ end }}
            {{ end }}
        </div>

        <!--a href="/post/">View all posts</a-->

    </section>

</div>

{{ partial "footer.html" . }}