{{ partial "header.html" . }}

    <h1 class="site-title">{{ .Site.Title }}</h1>


    <section class="main">
    <h2 class="site-section-title">Latest posts</h2>

    <div class="card-list">
        {{ range first 6 .Data.Pages }}
        {{ if eq .Type "post"}}
          <div class="card-item">
            <a href="{{ .Permalink }}">
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="proc-img card-item-image" />
                <h3 class="card-item-title">{{ .Title }}</h3>
            </a>
            <span class="card-item-summary">{{ .Summary }}</span>
            <span class="card-item-details">{{ .Date.Format "2 Jan, 2006" }} &mdash; {{ .ReadingTime }} minutes</span>
          </div>
        {{ end }}
        {{ end }}
    </div>

    <a href="/post/">View all posts</a>

    </section>



{{ partial "footer.html" . }}