

body { 
  	font-size: 18px;
  	text-rendering: optimizeLegibility;
  	font-family: 'Hind', sans-serif;
	font-weight: 400;
	line-height: 1.25em;
	color: #35464a;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Hind', sans-serif;
	font-weight: 700;
	color: #2c3b42;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-weight: 100;
	letter-spacing: 2px;
	color: #384b54;

 	font-size: 2.4em;
 	margin: 1em 0 0.5em 0;
 	line-height: 100%;
}

h2 {
  	font-size: 1.424em;
	margin: 1em 0 0.5em 0;
  	letter-spacing: 2px;
}

h3 {
  	font-size: 1.266em;
  	margin: 1em 0 0.5em 0;
  	margin-bottom: 0.5em;
}

h4 {
  	font-size: 1.125em;
  	margin-bottom: 0.5em;
}

p {
	margin: 0;
	line-height: 125%;
	margin-right: 2em;
}

figure {
	margin: 0 0 2em 0;
	border-bottom: 1px solid #efefef;
}

figure img {
	display: block;
	width: 100%;
	margin: 1em 0 0.5em 0;
}

figcaption {
	font-size: 80%;
	margin-bottom: 0.5em;
}

blockquote {
	font-style: italic;
}

ul li, ol li {
	line-height: 1.25em;
}

a {
	text-decoration: none;
	color: #024e61;
	font-weight: 500;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

/* Page layout */

.page-container {
	display: flex;
}


.page-sidebar {
	width: 180px;
	background-color: #b6c3c7;
	position: fixed;
	height: 100%;
}

.page-main {
	width: auto;
	padding: 0 3rem;
	margin-left: 180px;
}

.page-nav {
	display: flex;
	flex-direction: column;
	margin-top: 4.4em;
}

.page-nav a {
	display: inline-block;
	padding: 33% 1em 33% 1em;
	background-color: #454545;
	color: #ffffff;
    text-align: center;
    font-size: 0.85em;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    line-height: 120%;
}

.page-nav a.active {
	background-color: #fff;
	color: #ff8b23;
}

.page-nav a:hover {
	background-color: #ff8b23;
	color: #fff;
}

.page-section {
	text-transform: uppercase;
  	margin-bottom: 1px solid #999;
}

/* Index page specifics */

.site-title {
    margin: 0.5em 0 0.5em 0;
    font-weight: 100;
	letter-spacing: 5px;
	font-size: 3.2em;
}


/* Articles */

.post {
	max-width: 32em;
}

.post-details {
	font-size: 0.85em;
	color: #6d6d6d;
}

.post-outline {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	padding: 0.5em 0 0.5em 0;
	margin: 1em 0 1em 0;
	font-weight: 500;
}

.post-hero-image {
	margin: 0 auto;
}

.post-hero-image img {
	height: 10em;
}


.site-section-title {
	font-family: 'Abril Fatface', cursive;
	margin-bottom: 1em;
	color: #f5640d;
}


.index-nav > a {
	color: #fff;
	display: block;
	margin-bottom: 1em;
}



/* Post listing */

.post-list {
	max-width: 32em;
}

.post-list .post-item {
    max-width: 36em;
    margin-bottom: 1em;
}

.post-item .post-item-image {
	
}

.post-item .post-item-title {
	font-family: 
	font-size: 1em;
    margin: 0 0 0.4em 0;
}

.post-item .post-item-summary {
	d
}

.post-item .post-item-summary p {
	margin: 0;
	font-size: 0.65em;
	font-weight: 400;
}

.post-item .post-item-details {
	font-size: 0.6em;
	color: #666;
}





/* Responsive */

/* Mobile */
@media only screen and (max-width: 36em) {

	.page-container {
		flex-direction: column;
	}

	.page-sidebar {
		position: relative;
		height: auto;
		width: 100%;
	}

	.page-main {
		width: auto;
		padding: 0 0.5rem;
		margin-left: 0;
	}

	.page-nav a {
		padding: 1em 0 1em 0;
	}

	.page-section {

	}

	.post-list .post-item {
		display: block;
		margin-bottom: 1.5em;
	}

	.post-item .post-item-title {
		line-height: 1.3em;
	}

	.post-item .post-item-summary p {
		margin: 0;
		font-size: 1em;
		font-weight: 400;
	}


}

/* LARGE */
@media only screen and (min-width: 36em) {
	
	body {
		font-size: 24px;
		line-height: 1.25em;
	}

	.post-container {
		max-width: 36em;
	}
}



