
body { 
  	font-size: 24px;
  	font-family: 'Hind', sans-serif;
  	text-rendering: optimizeLegibility;
	font-weight: 400;
	line-height: 1.25em;
	color: #35464a;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Hind', sans-serif;
	text-rendering: geometricPrecision;
	font-weight: 700;
	color: #384b54;
	line-height: 125%;
}

h1 {
	letter-spacing: 2px;
	color: #384b54;
 	font-size: 2.4em;
 	margin: 1em 0 0.5em 0;
 	line-height: 108%;
}

h2 {
  	font-size: 1.424em;
	margin: 1em 0 0.5em 0;
  	letter-spacing: 1px;
}

h3 {
  	font-size: 1.266em;
  	margin: 1em 0 0.5em 0;
  	margin-bottom: 0.5em;
}

h4 {
  	font-size: 1.125em;
  	margin-bottom: 0.5em;
}

p {
	margin: 0;
	line-height: 125%;
	margin-right: 2em;
}

figure {
	margin: 0 0 2em 0;
	border-bottom: 1px solid #efefef;
}

figure img {
	display: block;
	width: 100%;
	margin: 1em 0 0.5em 0;
}

figcaption {
	font-size: 80%;
	margin-bottom: 0.5em;
}

blockquote {
	font-style: italic;
    font-size: 1.25em;
    font-family: 'Abril Fatface', Georgia, serif;
    font-weight: 100;
    /* border-left: 10px solid #efefef; */
    padding: 1em 1em 1em 2em;
    margin: 1em 0 1em 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

ul li, ol li {
	line-height: 1.25em;
}

a {
	text-decoration: none;
	color: #024e61;
	font-weight: 700;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #ff8b23;
}

/* Page layout */

.page-container {
	display: flex;
}


.page-sidebar {
	width: 6em;
	background-color: #00c7f7;
	position: fixed;
	height: 100%;
}

.page-main {
	width: auto;
	padding: 0 3rem;
	margin-left: 6em;
}

.page-nav {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
    margin-left: -0.5em;
}

	.page-nav a {
		display: inline-block;
		padding: 33% 1em 33% 1em;
		background-color: #454545;
		color: #ffffff;
	    text-align: center;
	    font-size: 0.65em;
	    text-transform: uppercase;
	    line-height: 120%;
	    transform: skewY(-8deg);
	    margin-bottom: 5px;
	}

		.page-nav a.active {
			background-color: #fff;
			color: #ff8b23;
		}

		.page-nav a:hover {
			background-color: #ff8b23;
			color: #fff;
		}

.page-section {
	text-transform: uppercase;
    color: #ff8b23;
    font-size: 0.85em;
}

/* Index page specifics */

.site-title {
    margin: 0.5em 0 0.5em 0;
    font-weight: 100;
	letter-spacing: 5px;
	font-size: 3.2em;
	font-family: 'Abril Fatface', Georgia, serif;
	font-weight: 100;
}


/* Articles */

.post {
	max-width: 32em;
}
	
	.post .post-title {
		font-family: 'Abril Fatface', Georgia, serif;
		font-weight: 100;
	}

	.post .post-details {
		font-size: 0.85em;
		color: #6d6d6d;
	}

	.post .post-outline {
		padding: 0.5em 0 0.5em 0;
		margin: 1em 0 1em 0;
		font-weight: 600;
		border-top: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
	}

	.post .post-hero-image {
		margin: 0 auto;
	}

		.post .post-hero-image img {
			height: 10em;
		}




/* Post listing */

.post-list {
	max-width: 32em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	.post-list > .post-list-item {
	    max-width: 36em;
	    margin-bottom: 1em;
	    border-bottom: 1px solid #efefef;
	    padding-bottom: 1em;
	}

		.post-list-item > .post-list-item-title {
		    margin: 0 0 0.25em 0;
		    line-height: 100%;
		}

		.post-list-item > .post-list-item-summary {
			
		}

		.post-list-item > .post-list-item-summary p {
			margin: 0;
			font-size: 0.85em;
			font-weight: 400;
		}

		.post-list-item > .post-list-item-details {
			font-size: 0.6em;
			color: #555;
		}





/* Responsive */

/* Mobile */
@media only screen and (max-width: 36em) {

	body {
		font-size: 18px;
	}

	.page-container {
		flex-direction: column;
	}

	.page-sidebar {
		position: relative;
		height: auto;
		width: 100%;
	}

	.page-main {
		width: auto;
		padding: 0 0.5rem;
		margin-left: 0;
	}

	.page-nav {
		margin-top: 0;
	}

		.page-nav a {
			padding: 1em 0 1em 0;
			transform: skewY(-3deg);
	    	margin-bottom: 5px;
		}

	.page-section {

	}

	.post-list .post-item {
		display: block;
		margin-bottom: 1.5em;
	}

	.post-item .post-item-title {
		line-height: 1.3em;
	}

	.post-item .post-item-summary p {
		margin: 0;
		font-size: 1em;
		font-weight: 400;
	}


}

/* LARGE */
@media only screen and (min-width: 52em) {
	
	body {
		background-color: #efefef;
	}

	.page-container {
		margin: 0 auto;
		max-width: 45em;
		box-shadow: #c8cbcc -55px 0px 128px;
	}

	.page-sidebar {
		
	}

	.page-main {
		background-color: #fff;
	}

	.post-container {
		max-width: 36em;
	}

}



